html[data-bs-theme=dark] body {
  background: #212529 !important;
}
html[data-bs-theme=dark] body .scroll-btn {
  background-color: #6c757d !important;
}
html[data-bs-theme=dark] nav {
  background-color: #212529;
  border-bottom: 1px solid;
  border-left: 3px dotted;
}
html[data-bs-theme=dark] nav .d_mode button {
  border: 2px solid #0d6efd;
}
html[data-bs-theme=dark] .description {
  background: none;
}
html[data-bs-theme=dark] .description .welcome_section .image {
  background-image: url(../assest/img/home_cake.png);
  background-size: cover;
  opacity: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
html[data-bs-theme=dark] .description .welcome_section .image img {
  display: none !important;
}
html[data-bs-theme=dark] .show_btn button {
  background-color: #dc3545;
}
html[data-bs-theme=dark] .show_btn button:hover {
  background-color: #ff5d57;
}
html[data-bs-theme=dark] .topic_product {
  color: #dc3545;
}
html[data-bs-theme=dark] .card {
  border: 1px outset #5755FE;
}
html[data-bs-theme=dark] .topic_aboutus {
  color: #5755FE;
}
html[data-bs-theme=dark] .about_content h3 {
  color: #FFF7FC !important;
}
html[data-bs-theme=dark] .about_content .topic_msg {
  border-left: 3px solid #dc3545;
  color: #d4d4d4 !important;
}
html[data-bs-theme=dark] footer {
  background-color: #212529;
  border-top: 1px solid;
  border-right: 3px dotted;
}
html[data-bs-theme=dark] hr {
  border: 1px dashed;
}
html[data-bs-theme=dark] .scroll-btn {
  color: white !important;
}
html[data-bs-theme=dark] .login_from .container .cascading-right {
  margin-right: -50px;
}
@media (max-width: 991.98px) {
  html[data-bs-theme=dark] .login_from .container .cascading-right {
    margin-right: 0;
  }
}
html[data-bs-theme=dark] .login_from a {
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  color: #0d6efd;
}
html[data-bs-theme=dark] .login_from h2 {
  color: #5755FE;
}
html[data-bs-theme=dark] .login_from button {
  background-color: #5755FE;
  border: 0;
}
html[data-bs-theme=dark] .login_from button:hover {
  background-color: #FF71CD;
}
html[data-bs-theme=dark] .register_form .header_img {
  background: #000005;
  height: 380px;
}
html[data-bs-theme=dark] .name_l1 {
  color: #8B93FF !important;
}
html[data-bs-theme=dark] .card {
  border: 1px solid white;
}
html[data-bs-theme=dark] .user_profile .profile {
  background-color: #212529;
}
html[data-bs-theme=dark] .img_silder_section .img_text p .phase_pink {
  color: white !important;
  font-weight: 490;
}
html[data-bs-theme=dark] .img_silder_section .img_text p .phase_blue {
  color: #8B93FF;
  font-weight: 490;
}
html[data-bs-theme=dark] .about_us_home .topic_aboutus_home {
  background-color: #212529;
}
html[data-bs-theme=dark] .about_us_home .about_content_home h3 {
  color: #ffb1e4;
  text-align: start;
}
html[data-bs-theme=dark] .about_us_home .about_content_home .topic_msg {
  border-left: 3px solid #8B93FF;
}
html[data-bs-theme=dark] .about_us_home .about_content_home .cover_msg {
  color: #939aff;
  font-weight: 300;
  font-variant: small-caps;
}
html[data-bs-theme=dark] .about_us_home .offers {
  background-color: #212529;
}
html[data-bs-theme=dark] .products_home .topic_product_home {
  background-color: #212529;
  color: #FF71CD;
}
html[data-bs-theme=dark] .products_home .container .card {
  background-color: #212529 !important;
}
html[data-bs-theme=dark] .products_home .container .card-footer {
  background-color: #212529 !important;
  border: 0;
}
html[data-bs-theme=dark] .products_home .noproducts_msg {
  background-color: #212529;
  border-radius: 10px;
}
html[data-bs-theme=dark] .products_home p {
  color: #8B93FF;
}
html[data-bs-theme=dark] .contact .contact_form {
  background-color: #212529 !important;
  border: 1px solid #fff;
}
html[data-bs-theme=dark] .contact .contact_form .btn_send {
  background-color: #8B93FF;
}
html[data-bs-theme=dark] .contact .contact_form .btn_send:hover {
  background-color: #5755FE;
}
html[data-bs-theme=dark] .msg_box {
  background-color: #212529 !important;
}
html[data-bs-theme=dark] .oder_form .form_box .card {
  background-color: #212529;
}
html[data-bs-theme=dark] .oder_form .form_box p strong {
  color: #939aff;
  font-size: 18px;
}
html[data-bs-theme=dark] .Product_details .card {
  background-color: #212529;
  border: none;
}
html[data-bs-theme=dark] .Product_details .card-body {
  border: 1px solid rgba(255, 255, 255, 0.7254901961);
  border-top: none;
}
html[data-bs-theme=dark] .Product_details .card-body .btn_wlist {
  background-color: #FF71CD;
}
html[data-bs-theme=dark] .Product_details .card-body .btn_wlist:hover {
  background-color: #ffb1e4;
}
html[data-bs-theme=dark] .checkout .form_checkout {
  background-color: #212529;
  border: 1px solid white;
  border-radius: 10px;
}
html[data-bs-theme=dark] .about_details .content hr {
  background: linear-gradient(to right, #ffffff, rgba(0, 0, 0, 0));
}
html[data-bs-theme=dark] .about_details .content .right_to_left {
  background: linear-gradient(to left, #fffdfd, rgba(0, 0, 0, 0));
}
html[data-bs-theme=dark] .offers {
  background-color: #212529 !important;
  border-bottom: 1px solid white;
}
html[data-bs-theme=dark] .offers i {
  color: white !important;
}
html[data-bs-theme=dark] .noResult {
  background-color: #dc3545 !important;
  border-radius: 10px;
}
html[data-bs-theme=dark] .noResult p {
  color: white;
}/*# sourceMappingURL=darkmode.css.map */